/* Berkeley Mono Regular */
@font-face {
    font-family: 'Berkeley Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/src/assets/fonts/berkeley-mono-typeface/berkeley-mono/TTF/BerkeleyMono-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Berkeley Mono Bold (assuming you have a bold version) */
@font-face {
    font-family: 'Berkeley Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/src/assets/fonts/berkeley-mono-typeface/berkeley-mono/TTF/BerkeleyMono-Bold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
